
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                    ['', '', { role: 'style' }],
                    ['產品A', 1940, '#b87333'],            // RGB value
                    ['產品B', 1343, 'silver'],            // English color name
                    ['產品C',1245 , 'gold'],

                  ['產品D', 1735, 'color: #e5e4e2'], // CSS-style declaration
            ]);

            var options = {
                title: '熱門商品推薦',
               
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

            chart.draw(data, options);

        }
    </script>


    <div id="chart_div" style="width: 1350px; height: 750px;"></div>
