
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1.1", { packages: ["bar"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', '產品A', '產品B', '產品C', '產品D'],
          ['1', 10416, 3386, 2133, 5416],
          ['2', 9272, 3875, 2142, 6260],
          ['3', 4753, 9810, 5680, 6120],
          ['4', 7530, 6500, 7512, 7120],
          ['5', 10416, 3386, 2133, 5416],
          ['6', 9272, 3875, 2142, 6260],
          ['7', 4753, 9810, 5680, 6120],
          ['8', 7530, 6500, 7512, 7120],
          ['9', 10416, 3386, 2133, 5416],
          ['10', 9272, 3875, 2142, 6260],
          ['11', 4753, 9810, 5680, 6120],
          ['12', 7530, 6500, 7512, 7120]

        ]);

        var options = {
            chart: {
                title: '月銷售量比較',
                subtitle: ' 年度:2014 月份: 1-12',
            }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, options);
    }
</script>

<div id="columnchart_material" style="width: 1350px; height: 750px;"></div>
