@*<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">*@
@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>*@
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>jQuery Before/After Plugin Demo</title>*@
    @*<link type="text/css" rel="stylesheet" href="~/Content/reset.css" />*@
@{Layout = null;}
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
<script src="~/Scripts/jquery.min.1.11.0.js"></script>
<script type="text/javascript" src="~/JQuery/jquery-ui-1.8.13.custom.min.js"></script>
@*<script type="text/javascript" src="~/JQuery/jquery.beforeafter-1.3.js"></script>*@
<script type="text/javascript" src="~/JQuery/zoomer.js"></script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>*@
<script src="~/Scripts/jquery.min-1.3.2.js"></script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>*@
<script src="~/Scripts/jquery-ui.min.1.7.1js.js"></script>
<script type="text/javascript" src="~/JQuery/jquery.beforeafter.js"></script>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>*@

    @*<script type="text/javascript" src="./js/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="./js/jquery.beforeafter-1.3.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>*@
   
   
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('ul.thumb li').Zoomer({ speedView: 200, speedRemove: 400, altAnim: true, speedTitle: 400, debug: false });
        });
    </script>*@

<style>
    .v1-1{
        margin-bottom:0px;
    }
    .v1-2{
        margin-bottom:0px;
    }
</style>
    <link type="text/css" rel="stylesheet" href="~/Content/index_beforeafter.css" />
@*</head>*@
<title>
    Fantasy
</title>
<link rel="shortcut icon" href="~/images/arealshop2.png" type="image/x-icon" />
<link rel="icon" href="~/images/arealshop2.png" type="image/x-icon" />
@*<body>*@
    <div id="wrap">
        @*<div id="content">*@
            <div id="container" style="height:700px;">
                <div id="v1">
                    <p class="v1-1"></p>
                    <p class="v1-2"></p>
                    <p class="v1-3"></p>
                    <p class="v1-4"></p>

                    <a href="#"><p class="v1-5"></p></a>
                    @*<p class="v1-6"></p>*@
                    <p class="message"></p>
                    <a href="#"><p class="v1-7"></p></a>
                    <p class="v1-8"></p>
                    @*<a href="#"><p class="plus1 plus-button pb1 pp"></p></a>
                    <a href="#"><p class="plus_1 plus-button pb2 pp"></p></a>
                    <a href="#"><p class="plus2 plus-button pb1 pp"></p></a>
                    <a href="#"><p class="plus_2 plus-button pb2 pp"></p></a>
                    <a href="#"><p class="plus3 plus-button pb1 pp"></p></a>
                    <a href="#"><p class="plus_3 plus-button pb2 pp"></p></a>
                    <a href="#"><p class="plus4 plus-button pb1 pp"></p></a>
                    <a href="#"><p class="plus_4 plus-button pb2 pp"></p></a>
                    <a href="#"><p class="plus5 plus-button pb1 pp"></p></a>
                    <a href="#"><p class="plus_5 plus-button pb2 pp"></p></a>*@

                </div>
                <div id="v2">
                    <img src="~/images/back.png" width="1000" height="730" />
                    <p class="v1-1"></p>
                    <p class="v1-2"></p>
                    <p class="v1-3"></p>
                    <p class="v1-4"></p>
                    <a href="#"><p class="v1-5"></p></a>
                    @*<p class="v1-6"></p>*@
                    <p class="message"></p>
                    <a href="#"><p class="v1-7"></p></a>
                    <p class="v1-8"></p>
                    @*<a href="#"><p class="plus1 plus-button pb1 p"></p></a>
                    <a href="#"><p class="plus_1 plus-button pb2 p"></p></a>
                    <a href="#"><p class="plus2 plus-button pb1 p"></p></a>
                    <a href="#"><p class="plus_2 plus-button pb2 p"></p></a>
                    <a href="#"><p class="plus3 plus-button pb1 p"></p></a>
                    <a href="#"><p class="plus_3 plus-button pb2 p"></p></a>
                    <a href="#"><p class="plus4 plus-button pb1 p"></p></a>
                    <a href="#"><p class="plus_4 plus-button pb2 p"></p></a>
                    <a href="#"><p class="plus5 plus-button pb1 p"></p></a>
                    <a href="#"><p class="plus_5 plus-button pb2 p"></p></a>*@
                </div>
              
            @*</div>*@
        </div>
        <div id="down">
            <a href="~/Home/Products"><div class="db b1"></div></a>
            <a href="~/Home/Products#ctl00_ContentPlaceHolder1_imgProduct"><div class="db b2"></div></a>
            <a href="~/Home/Section"><div class="db b3"></div></a>
            <a href="~/Home/News"><div class="db b4"></div></a>
            <a href="~/Home/Apk"><div class="db b5"></div></a>
            <a href="https://www.facebook.com/pages/BlueFunc/1406361129671861"><div class="db b6"></div></a>
          
        </div>
    </div>
@*</body>*@
<script>
    
    $(document).ready(function () {
        //$('#container')
        var container = document.getElementById("container").style;
        var v1 = document.getElementById("v1").style;
        var v2 = document.getElementById("v2").style;
        

        container.height = "700px";
        v1.height = "700px";
        v2.height = "700px";
    });

    //var obj = document.createElement('container');
    //obj.style.width = "700px";

    $('#container').beforeAfter({
        animateIntro: true,
        introDelay: 1000,
        introDuration: 1000,
        showFullLinks: false
    });
    /*背景 可鎖定*/
    var timer;
    var speed = 100;

    $(".plus-button").hover(function () {
        clearTimeout(timer);
        clearTimeout(timer2);
        var button = $(this);
    }, function () {
        timer = setTimeout(autoShow, speed);
        timer2 = setTimeout(autoShow2, speed2);
    });
    var i = 0, j = 0, k = 0;
    function autoShow() {
        $("#v1 .v1-3,#v2 .v1-3").animate({ "background-position": "-=4px" }, 80);
        $(".plus-button").animate({ "left": "-=4px", }, 80);
        i += 4;
        j += 4;
        if (k == 1) {
            if (i >= 2000) {
                $(".pb1").animate({ "top": "+=1000px" }, 80);
                $(".pb1").animate({ "left": "+=2000px" }, 80);
                $(".pb1").animate({ "top": "-=1000px" }, 80);
                i = 0;
            }
        }
        if (k == 0) {
            if (i >= 1000) {
                $(".pb1").animate({ "top": "+=1000px" }, 80);
                $(".pb1").animate({ "left": "+=2000px" }, 80);
                $(".pb1").animate({ "top": "-=1000px" }, 80);
                k = 1;
                i = 0;
            }
        }
        if (j >= 2000) {
            $(".pb2").animate({ "top": "+=1000px" }, 80);
            $(".pb2").animate({ "left": "+=2000px" }, 80);
            $(".pb2").animate({ "top": "-=1000px" }, 80);
            j = 0
        }
        timer = setTimeout(autoShow, speed);
    }
    autoShow();


    /*背景 天地*/
    var timer1;
    var speed1 = 100;

    function autoShow1() {
        $("#v1 .v1-1,#v2 .v1-1").animate({ "background-position": "-=2px" }, 80);
        $("#v1 .v1-4,#v2 .v1-4").animate({ "background-position": "+=1px" }, 80);
        timer1 = setTimeout(autoShow1, speed1);
    }
    autoShow1();


    var timer2;
    var speed2 = 3000;
    function autoShow2() {
        $(".plus-button").animate({ "width": "30px" }, 100).animate({ "background-position": "-45px" }, 0);
        $(".plus-button").animate({ "width": "21px" }, 50).animate({ "background-position": "20px" }, 0);
        timer2 = setTimeout(autoShow2, speed2);
    }
    autoShow2();


    $("#v1 .v1-8").hide(); $("#v2 .v1-8").hide();
    $("#v1 .v1-5").mouseenter(function () { $("#v1 .v1-8").show(300); $("#v2 .v1-8").show(); });
    $("#v1 .v1-5").mouseleave(function () { $("#v1 .v1-8").hide(); $("#v2 .v1-8").hide(); });
    $("#v1 .v1-5").click(function () { $("#v1 .message").show(); $("#v2 .message").show(); });
    $("#v1 .v1-7").click(function () { $("#v1 .message").hide(); $("#v2 .message").hide(); });
    $("#v1 .v1-7").mouseenter(function () { $("#v1 .v1-7").css({ "background-position": "0px" }); });
    $("#v1 .v1-7").mouseleave(function () { $("#v1 .v1-7").css({ "background-position": "15px" }); });

    $("#v2 .v1-5").mouseenter(function () { $("#v1 .v1-8").show(); $("#v2 .v1-8").show(); });
    $("#v2 .v1-5").mouseleave(function () { $("#v1 .v1-8").hide(); $("#v2 .v1-8").hide(); });
    $("#v2 .v1-5").click(function () { $("#v1 .message").show(); $("#v2 .message").show(); });
    $("#v2 .v1-7").click(function () { $("#v1 .message").hide(); $("#v2 .message").hide(); });
    $("#v2 .v1-7").mouseenter(function () { $("#v2 .v1-7").css({ "background-position": "0px" }); });
    $("#v2 .v1-7").mouseleave(function () { $("#v2 .v1-7").css({ "background-position": "15px" }); });
    $("#down .db").mouseenter(function () { var db = $(this); db.animate({ "background-position": "+=162px" }, 100) });
    $("#down .db").mouseleave(function () { var db = $(this); db.animate({ "background-position": "-=162px" }, 100) });
    $("#down .db").click(function () { var db = $(this); $("#down .db2").css({ "background-position": "-224px" }); $("#down .db").css({ "background-position": "-324px" }); db.css({ "background-position": "0px" }); });

    $("#down .db2").mouseenter(function () { var db2 = $(this); db2.animate({ "background-position": "+=112px" }, 100) });
    $("#down .db2").mouseleave(function () { var db2 = $(this); db2.animate({ "background-position": "-=112px" }, 100) });
    $("#down .db2").click(function () { var db2 = $(this); $("#down .db2").css({ "background-position": "-224px" }); $("#down .db").css({ "background-position": "-324px" }); db2.css({ "background-position": "0px" }); });
</script>

@*</html>*@
@*<script type="text/javascript" src="~/JQuery/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="~/JQuery/jquery.beforeafter-1.3.min.js"></script>*@
@*<script type="text/javascript" src="~/JQuery/index.js"></script>*@
