
/*溫暖冬日*/
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 300px; top: 60px; right: 25%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {right: 8%; max-width: 300px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {right: 8%; max-width: 250px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;
}*/



/*20141125 2014Xmas - 365 JOYFUL DAYS*/
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 300px; top: 38px; right: 22%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {right: 4%; max-width: 165px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {right: 3%; max-width: 130px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;
}*/


/*20141215 - 旗艦店新開幕*/
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 300px; top: 65px; right: 52%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {right: 48%; max-width: 210px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {right: 38%; max-width: 175px; top:90px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;
}*/



/*20141226 - MUJI to Go Winter */
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 300px; top: 0px; right: 18%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {right: 0%; max-width: 210px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {right: -9%; max-width: 188px; top:0px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;*/



/*20150114 - 年末年始 */
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 300px; top: 160px; left: 32%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {left: 23%; max-width: 210px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {left: 4%; max-width: 150px; top:160px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;*/
	
	
	
/*20150204 - 團圓 */
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 527px; top: 20px; left: 32%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {left: 25%; max-width: 527px; top: 20px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 768px){
	#mainCampaign .titleContainer h1 {left: 15%;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {left: 14%; max-width: 300px; top:95px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;*/	
	
	
	
/*20150225 - 有機棉 */
#mainCampaign .titleContainer h1 {position: absolute; max-width: 59px; top: 70px; left: 57%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {left: 63%; max-width: 55px; top: 70px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 768px){
	#mainCampaign .titleContainer h1 {left: 68%;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {left: 74%; max-width: 48px; top:70px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;




/*20150304 - MUJI to Relax */
/*#mainCampaign .titleContainer h1 {position: absolute; max-width: 100%; top: 165px; left: 25%;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {left: 8%; max-width: 100%; top: 165px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 768px){
	#mainCampaign .titleContainer h1 {left: 3%; max-width: 40%; }
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {left: 0%; max-width: 53%; top:285px;}
}

#misc ul {float: none;}
#misc .bookscom,
#misc .misc7net,
#misc .rakuten {float: right; margin-left: 10px;}

.footerNav2 {
	display: none;*/		