.panel .table td,.panel .table th { padding: 5px; overflow: hidden; text-overflow: clip; white-space: nowrap; max-width: 1px; }
.panel .panel-heading { padding: 5px 15px; }
    .panel .panel-heading .collapse-btn { padding: 3px 14px; margin-top: -16px; margin-bottom: -10px; }
        .panel .panel-heading .collapse-btn span.glyphicon { font-size: 18px; }
    .panel .panel-heading .more-btn { padding: 3px 14px; margin-top: -5px; }
.panel .panel-body .panel-heading .collapse-btn { padding: 3px 8px; color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.panel .panel-body .panel-heading .collapse-btn:hover { background-color: #dcdcdc; border-color: #a9a9a9; }